<div class="container mt-4 accordion" id="accordionFaq">
    <div class="accordion-item">
        <div class="accordion-header" id="CommonQuestionsHead_1">
            <button class="accordion-button text-left" type="button" data-bs-toggle="collapse" data-bs-target="#CommonQuestions_1" aria-controls="CommonQuestions_1" aria-expanded="false">
                <span class="small text-muted">是免费在线解析吗？</span>
            </button>
        </div>
        <div id="CommonQuestions_1" class="accordion-collapse collapse" aria-labelledby="CommonQuestionsHead_1" data-bs-parent="#accordionFaq">
            <div class="accordion-body bg-info small">
                <span>当前规则如下：</span>
                <ul>
                    <li>非注册访客：每日免费解析 1 次</li>
                    <li>普通注册用户：每日免费解析 3 次</li>
                    <li>VIP用户：每日解析 10 次</li>
                    <li>高级VIP用户：每日解析次数 100 次</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="CommonQuestionsHead_2">
            <button class="accordion-button text-left" type="button" data-bs-toggle="collapse" data-bs-target="#CommonQuestions_2" aria-controls="CommonQuestions_2" aria-expanded="false">
                <span class="small text-muted">会员价格是多少？</span>
            </button>
        </div>
        <div id="CommonQuestions_2" class="accordion-collapse collapse" aria-labelledby="CommonQuestionsHead_2" data-bs-parent="#accordionFaq">
            <div class="accordion-body bg-info small">
                <span>短视频解析会员价格如下：</span>
                <ul>
                    <li>VIP用户：15 元/月</li>
                    <li>高级VIP用户：100 元/月</li>
                </ul>
                <span>会员办理请仅联系群主一人（不包括管理员）</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="CommonQuestionsHead_3">
            <button class="accordion-button text-left" type="button" data-bs-toggle="collapse" data-bs-target="#CommonQuestions_3" aria-controls="CommonQuestions_3" aria-expanded="false">
                <span class="small text-muted">解析次数是怎么计算的？</span>
            </button>
        </div>
        <div id="CommonQuestions_3" class="accordion-collapse collapse" aria-labelledby="CommonQuestionsHead_3" data-bs-parent="#accordionFaq">
            <div class="accordion-body bg-info small">
                <span>每次进行解析就累计一次解析次数。</span>
                <div>
                    <span>如遇到以下情况，解析次数不会被扣除。</span>
                    <ul>
                        <li>您输入的内容中包含短视频的网址，但本站没有正确识别。</li>
                        <li>您输入的网址不是正确格式的网址</li>
                        <li>您输入的网址是正确格式的网址，但不是短视频的分享网址。</li>
                        <li>您输入的网址是短视频的分享网址，但本站解析失败。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="CommonQuestionsHead_5">
            <button class="accordion-button text-left" type="button" data-bs-toggle="collapse" data-bs-target="#CommonQuestions_5" aria-controls="CommonQuestions_5" aria-expanded="false">
                <span class="small text-muted">支持哪些视频APP软件？</span>
            </button>
        </div>
        <div id="CommonQuestions_5" class="accordion-collapse collapse" aria-labelledby="CommonQuestionsHead_5" data-bs-parent="#accordionFaq">
            <div class="accordion-body bg-info small">
                <div class="overflow-auto">
                    <div class="d-flex flex-wrap">
                        <span class="mx-2">抖音</span>
                        <span class="mx-2">快手</span>
                        <span class="mx-2">小红书</span>
                        <span class="mx-2">微博</span>
                        <span class="mx-2">剪映</span>
                        <span class="mx-2">西瓜视频</span>
                        <span class="mx-2">火锅视频</span>
                        <span class="mx-2">火山小视频</span>
                        <span class="mx-2">今日头条</span>
                        <span class="mx-2">趣头条</span>
                        <span class="mx-2">微视</span>
                        <span class="mx-2">Tiktok</span>
                        <span class="mx-2">皮皮虾</span>
                        <span class="mx-2">QQ看点</span>
                        <span class="mx-2">好看视频</span>
                        <span class="mx-2">阳光宽频网</span>
                        <span class="mx-2">美拍</span>
                        <span class="mx-2">快影</span>
                        <span class="mx-2">绿洲</span>
                        <span class="mx-2">Instagram</span>
                        <span class="mx-2">刷宝</span>
                        <span class="mx-2">全民小视频</span>
                        <span class="mx-2">最右</span>
                        <span class="mx-2">Youtube</span>
                        <span class="mx-2">Bilibili</span>
                        <span class="mx-2">轻视频</span>
                        <span class="mx-2">陌陌视频</span>
                        <span class="mx-2">梨视频</span>
                        <span class="mx-2">开眼</span>
                        <span class="mx-2">皮皮搞笑</span>
                        <span class="mx-2">网易云音乐</span>
                        <span class="mx-2">看点视频</span>
                        <span class="mx-2">AcFun</span>
                        <span class="mx-2">梨涡</span>
                        <span class="mx-2">魔豆</span>
                        <span class="mx-2">UC浏览器</span>
                        <span class="mx-2">茄子短视频</span>
                        <span class="mx-2">VUE</span>
                        <span class="mx-2">新片场</span>
                        <span class="mx-2">场库</span>
                        <span class="mx-2">秒拍</span>
                        <span class="mx-2">巴塞电影</span>
                        <span class="mx-2">Keep</span>
                        <span class="mx-2">全民k歌</span>
                        <span class="mx-2">WIDE</span>
                        <span class="mx-2">小咖秀</span>
                        <span class="mx-2">灵感</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="CommonQuestionsHead_7">
            <button class="accordion-button text-left" type="button" data-bs-toggle="collapse" data-bs-target="#CommonQuestions_7" aria-controls="CommonQuestions_7" aria-expanded="false">
                <span class="small text-muted">解析出来的视频地址，为什么不能访问了？</span>
            </button>
        </div>
        <div id="CommonQuestions_7" class="accordion-collapse collapse" aria-labelledby="CommonQuestionsHead_7" data-bs-parent="#accordionFaq">
            <div class="accordion-body bg-info small">
                <span>解析出来的视频地址是有有效期的，超过一定时间后，将会失效，所以请尽快进行下载保存。</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="CommonQuestionsHead_6">
            <button class="accordion-button text-left" type="button" data-bs-toggle="collapse" data-bs-target="#CommonQuestions_6" aria-controls="CommonQuestions_6" aria-expanded="false">
                <span class="small text-muted">解析出来的视频地址有效期是多久？</span>
            </button>
        </div>
        <div id="CommonQuestions_6" class="accordion-collapse collapse" aria-labelledby="CommonQuestionsHead_6" data-bs-parent="#accordionFaq">
            <div class="accordion-body bg-info small">
                <span>由于不同的视频平台，设置的有效期是不一样的，所以这里没法给您一个明确的时间值，还请您及时通过解析出来的无水印视频地址进行下载保存。</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="CommonQuestionsHead_4">
            <button class="accordion-button text-left" type="button" data-bs-toggle="collapse" data-bs-target="#CommonQuestions_4" aria-controls="CommonQuestions_4" aria-expanded="false">
                <span class="small text-muted">有没有交流群或者在线反馈途径吗？</span>
            </button>
        </div>
        <div id="CommonQuestions_4" class="accordion-collapse collapse" aria-labelledby="CommonQuestionsHead_4" data-bs-parent="#accordionFaq">
            <div class="accordion-body bg-info small overflow-hidden">
                <div class="row text-center" id="communityAccount">
                    <a class="col text-reset text-decoration-none" href="javascript:" data-qrcode="process.env.QRCODE_ID_WEIXIN" title="微信号">
                        <svg class="fa-lg fab fa-weixin"></svg>
                        <span class='text-black-50'>&nbsp;微信号</span>
                    </a>
                    <a class="col text-reset text-decoration-none" href="javascript:" data-qrcode="process.env.QRCODE_GROUP_QQ" title="QQ交流群">
                        <svg class="fa-lg fab fa-qq"></svg>
                        <span class='text-black-50'>&nbsp;QQ交流群</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>