<div class='container'>
    <div class='row mb-3'>
        <label class='col-sm-2 col-form-label' for='username'>用户名</label>
        <div class='col-sm-10'>
            <input type='text' class='form-control is-valid' placeholder='输入用户名' id='username'>
            <div class="valid-feedback">用户名看起来不错</div>
            <div class="invalid-feedback">请输入昵称</div>
        </div>
    </div>
    <div class='row mb-3'>
        <label class='col-sm-2 col-form-label' for='email'>邮箱</label>
        <div class='col-sm-10'>
            <input type='email' class='form-control' placeholder='输入邮箱' id='email'>
            <div class="valid-feedback">邮箱很好哟</div>
            <div class="invalid-feedback">请输入邮箱</div>
        </div>
    </div>
    <div class='row mb-3'>
        <label class='col-sm-2 col-form-label' for='nickname'>昵称</label>
        <div class='col-sm-10'>
            <input type='text' class='form-control is-invalid' placeholder='输入昵称' id='nickname'>
            <div class="valid-feedback">这昵称真帅</div>
            <div class="invalid-feedback">请输入昵称</div>
        </div>
    </div>
    <div class='mb-3 text-center'>
        <button type='button' class='btn btn-outline-success' id='submit'>修改</button>
    </div>
</div>