<footer class="mt-3 mt-lg-4 pb-4 bg-dark" id="jx_footer">
    <div class="my-3 border-bottom"></div>
    <div class="container d-flex flex-column align-items-center small text-white-50" id="footer_x"></div>
    <div class="container d-flex flex-column align-items-center small text-white-50">
        <a href="https://www.cnzz.com/stat/website.php?web_id=1279409812" target="_blank" title="站长统计">
            <img class="gray" width="50" height="12" alt="站长统计" src="data:image/gif;base64,R0lGODlhMgAMAJECAP9tBv///+Dw+gAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFGQACACwAAAAAMgAMAAACRYSPqcutAaOctNobDd7VeQAlARiOiHlkX1NK2uhOJIe9cwnON2ytIp8JkXY7mS+F0uiSuRPt8npKjZ+pVVW9amvHrtdQAAAh+QQFGQACACwdAAIADQAIAAACD4yPAZC9Dc2a9Klao948FAAh+QQFGQACACwdAAIADQAIAAACEIwPqXC42aI0b7WqpsS8pwIAOw==">
        </a>
    </div>
</footer>