<h1>忘记密码</h1>

<div>
    <p>请通过下面的链接进行重新修改密码</p>
    <a href='{{ changePassword }}' target='_blank'>
        <button type='button'>修改密码</button>
    </a>
</div>

<div>
    <p>如果不是您进行的本次找回密码的操作，那可能是其他人进行的错误操作或者恶意操作，一般情况下忽略本邮件即可。</p>
    <p>如果您频繁的收到本类邮件，请及时联系管理员，我们会尝试减少本类（通过邮箱找回密码）的方式，以避免您重复收到此类邮件。</p>
    <p>账号安全管理中有取消掉通过邮件找回密码的功能，您可以随时开启本功能。</p>
</div>
