<div class='container'>
    <div class='row mb-3'>
        <label class='col-sm-2 col-form-label' for='current_password'>当前密码</label>
        <div class='col-sm-10'>
            <input type='text' class='form-control is-invalid' placeholder='输入当前正在使用的密码' id='current_password'>
            <div class="valid-feedback">当前密码很好</div>
            <div class="invalid-feedback">15位字符或者至少8位的字母、数字和符号的组合</div>
        </div>
    </div>
    <div class='row mb-3'>
        <label class='col-sm-2 col-form-label' for='new_password'>新密码</label>
        <div class='col-sm-10'>
            <input type='text' class='form-control is-invalid' placeholder='输入邮箱' id='new_password'>
            <div class="valid-feedback">密码很好</div>
            <div class="invalid-feedback">15位字符或者至少8位的字母、数字和符号的组合</div>
        </div>
    </div>
    <div class='row mb-3'>
        <label class='col-sm-2 col-form-label' for='confirm_new_password'>确认新密码</label>
        <div class='col-sm-10'>
            <input type='text' class='form-control is-invalid' placeholder='输入邮箱' id='confirm_new_password'>
            <div class="valid-feedback">两次密码一致</div>
            <div class="invalid-feedback">两次输入的密码不一致</div>
        </div>
    </div>
    <div class='mb-3 text-center'>
        <button type='button' class='btn btn-outline-success' id='submit'>修改</button>
    </div>
</div>