<div class='container'>
    <div class='row mb-3'>
        <label class='col-sm-2 col-form-label' for='current_email'>当前邮箱</label>
        <div class='col-sm-10'>
            <input type='email' class='form-control is-invalid' placeholder='输入当前使用的邮箱' id='current_email'>
            <div class="valid-feedback">当前邮箱很好哟</div>
            <div class="invalid-feedback">请输入邮箱</div>
        </div>
    </div>
    <div class='row mb-3'>
        <label class='col-sm-2 col-form-label' for='new_email'>新邮箱</label>
        <div class='col-sm-10'>
            <input type='email' class='form-control is-invalid' placeholder='输入新邮箱' id='new_email'>
            <div class="valid-feedback">新邮箱很好哟</div>
            <div class="invalid-feedback">不能和当前邮箱一致</div>
        </div>
    </div>
    <div class='mb-3 text-center'>
        <button type='button' class='btn btn-outline-success' id='submit'>修改</button>
    </div>
</div>