<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @@include('./_head.htm', {
        "title": "首页 - 解析短视频 - 全网视频在线无水印解析vip下载",
        "description": "一天看一部好剧，一部好剧看一天。你想看的视频这里都能给你，无论长视频，短视频，重点不是长短，是视频。",
        "keywords": "全网短视频解析下载,vip视频解析,视频解析网站,短视频解析,短视频解析下载,一键视频解析",
        "meta": "",
        "style": "@@include('./_style.htm',{'path': '',})",
        "noScript": "@@include('./_noScript.htm')",
        "script": "@@include('./_head_script.htm',{'path': '',})",
    })
</head>
<body>
<div id="body" hidden>
    @@include('./_headerNavbar.htm', {
        "URIPath":"."
    })
    <div class="min-vh-100" id="jx_content">
        @@include('./ads/ad_t1_a.htm')
        @@include('./pages/index.htm')
    </div><!--id=jt_content-->
    @@include('./_footer.htm')
    @@include('./account_form/modal_sign.htm')
</div><!--id=body-->
@@include('./_script.htm', {
    "path": ".",
})
<script src="./static/js/buildResult.min.js"></script>
<script src="./static/js/root/index.min.js"></script>
<script src="./static/js/root/faq.min.js"></script>
<script>
    $().ready(() => {
        const donate = document.querySelector('#donate')

        donate.addEventListener('click', () => {
            loadScript('/static/js/donate.min.js', () => {
                bootstrapModalJs('', donateTab, createSmallCenterText('识别二维码进行任意金额的打赏', 'success'), 'sm', true)
            })
        })
    })
</script>
</body>
</html>